NEXT_PUBLIC_SUPABASE_URL=https://klqqlptxxpfffsswymhy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_SITE_URL=https://nobe-dev-ops.vercel.app

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://nobe-dev-ops.vercel.app/api/gcal-personal/callback
GOOGLE_REFRESH_TOKEN=
GOOGLE_API_KEY=

GAS_EMAIL_SECRET=
GAS_EMAIL_URL=
NEXT_PUBLIC_ADMIN_NOTIFICATION_EMAIL=

CRON_SECRET=

